# Reproduction de l'exemple issu de [cet article](https://medium.com/@fareedkhandev/pandas-ai-the-future-of-data-analysis-8f0be9b5ab6f)

In [1]:
import pandas as pd
from pandasai import PandasAI

# Sample DataFrame
df = pd.DataFrame({
    "country": ["United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", "Australia", "Japan", "China"],
    "gdp": [19294482071552, 2891615567872, 2411255037952, 3435817336832, 1745433788416, 1181205135360, 1607402389504, 1490967855104, 4380756541440, 14631844184064],
    "happiness_index": [6.94, 7.16, 6.66, 7.07, 6.38, 6.4, 7.23, 7.22, 5.87, 5.12]
})

# Instantiate a LLM
from pandasai.llm.openai import OpenAI
llm = OpenAI(api_token="YOUR_API_TOKEN")

pandas_ai = PandasAI(llm, conversational=False)
pandas_ai(df, prompt='Which are the 5 happiest countries?')

'Unfortunately, I was not able to answer your question, because of the following error:\n\n<empty message>\n'

In [2]:
df

          country             gdp  happiness_index
0   United States  19294482071552             6.94
1  United Kingdom   2891615567872             7.16
2          France   2411255037952             6.66
3         Germany   3435817336832             7.07
4           Italy   1745433788416             6.38
5           Spain   1181205135360             6.40
6          Canada   1607402389504             7.23
7       Australia   1490967855104             7.22
8           Japan   4380756541440             5.87
9           China  14631844184064             5.12